body{
	padding: 0;
	margin: 0;
	background: #f0f2F5;
	box-sizing: border-box;
}
.container {
	height: 100%;
	width: 100%;
	
}
.p1 {
	margin-top: 30%;
	text-align:center; 
	font-weight: bold; 
	color: #1877f2; 
	font-size: 80px;
}
.p2 {
	text-align: center; 
	font-size: 22px; 
	font-weight: bold; 
	margin-bottom: 0;
}

.p3{
	color: gray; text-align: center; 
}

form{

	border: solid white;
	border-radius: 10px;
	background: white;
	/*margin-left: 26%;
	margin-right: 26%;*/
	box-shadow: 3px 2px 5px   #888888;
	margin-bottom: 10px;
	margin-top: 30%;
}
.first {
	border: 1px solid gray;
	border-radius: 4px ;
	padding: 6px;
	margin-bottom: 10px;
	margin-left: 5%;
	width: 42%;
}

.sur {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 6px;
	margin-bottom: 10px;
	margin-left: 4%;
	width: 42%;
}

.mail {
	border: 1px solid gray;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 10px;
	margin-left: 5%;
	width: 88%;
}
.pass {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 10px;
	margin-left: 5%;
	width: 88%;
}
/*	background: white;
	border: 1px solid gray;
	border-radius: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 82px;
	margin-bottom: 10px;
}*/

.day{
	margin-top: 10px;
	margin-left: 10%;
	
	
}

.month{
	margin-top: 10px;
	margin-left: 5%;
	
	
}
.year{
	margin-top: 10px;
	margin-left: 5%;
	
}
.gen{
	margin-top: 0;
	margin-left: 5%;
	margin-bottom: 10px;
}
.btn{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	margin-bottom: 10px;

}
.last{
	text-align: center;
}

img{
	height: 90px;
}
.intype{
	margin-left: 5%;
}
.la{
	margin-left: 5%;
}
.btn1{
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bolder;
}